.NavBar-content {
    background-color: #101113;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    font-size: calc(10px + 2vmin);
    color: rgb(247, 3, 3);
  }